@namespace CroftBlazorComponents.ModalComponents
@if (IsOpen)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@ModalTitle</h5>
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @ModalBody
                </div>
            </div>
            <div class="modal-footer">
                @ModalFooter
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public RenderFragment? ModalFooter { get; set; }
    [Parameter]
    public RenderFragment? ModalBody { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [Parameter]
    public string ModalTitle { get; set; } = "";
    public bool IsOpen { get; set; }
    public async void Show()
    {
        IsOpen = true;
        await InvokeAsync(StateHasChanged);
    }
    public async void Close()
    {
        IsOpen = false;
        await InvokeAsync(StateHasChanged);
    }
}